body {
 background-color: #15191E;
   }

  @font-face {
    font-family: ok; 
    src: url(53492.ttf); 
   }

header {
width: 100%;
height: 68px;

left: 0px;
top: 0px;

border: 1px solid #F00;
background: #1D232A;
}

.menu{
width: 66px;
height: 56px;

margin-left: 15px;
margin-top: 6px;
}

.icon{
width: 182px;
height: 68px;

margin-left: 90px;
margin-top: 0px;
}

.block {
width: 314px;
height: 821px;
margin-left: 345px;
margin-top: 114px;

background: #1D232A;
}
