body {
 background-color: #15191E;
   }

  @font-face {
    font-family: ok; 
    src: url(assets/fonts/53492.ttf); 
   }

header {
position: fixed;
width: 100%;
height: 8%;
left: 0%;
top: 0%;
background: #1D232A;
border: 1px solid #F00;
}

.menu {
position: fixed;
width: 19.625rem;
height: 51.3125rem;
top: 7.13rem;
left: 21.6rem;
background: #1D232A;
}
.profile {
color: #FFF;

margin-left:5rem; 
margin-top:-3.7rem;

font-family: 'ok';
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.strip{
background: #F00;

margin-left:1.6rem; 
margin-top:2.2rem;

width: 16.43763rem;
height: 0.0625rem;
}
